/* ConfigProvider로 수정할 수 있는 필드가 존재하지 않아 강제로 CSS 추가 */

.middle .ant-input-search-button {
  height: 40px !important;
}

.small .ant-input-search-button {
  height: 32px !important;
}

.large .ant-input-search-button {
  height: 48px !important;
}

.ant-input-affix-wrapper {
  height: 40px !important;
}

.ant-input-affix-wrapper-sm {
  height: 32px !important;
}

.ant-input-affix-wrapper-lg {
  height: 48px !important;
}
