@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Pretendard', sans-serif;
  }

  /* 스크롤바 숨기기 */
  *::-webkit-scrollbar {
    display: none;
  }

  /* Firefox에서 스크롤바 숨기기 */
  * {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }
}

@layer utilities {
  .col-center {
    @apply flex flex-col justify-center items-center;
  }
  .row-center {
    @apply flex flex-row justify-center items-center;
  }
  .overflow-label {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2; /* 두 줄 제한 */
    -webkit-box-orient: vertical;
  }
}
